{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <section class="card" id="tables">
    <h2>JJUG CCC CfP 2016 fall</h2>
    <table>
    <thead class="bg-blue-grey">
    <tr>
      <th><img src="/img/thumbup.png" width="20" height="20"></th>
      <th>title</th>
      <th>link</th>
    </tr>
    </thead>
    <tbody class="zebra">
    {% for issue in issues %}
      <tr>
        <td>{{ issue.thumbup }}</td>
        <td>{{ issue.title }} / {{ issue.user }}</td>
        <td><a href="{{ issue.html_url }}">link</a></td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
    </section>
  </div>
</div>
{% endblock %}
